[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/vim-autoformat/vim-autoformat
[submodule "pack/my_plugins/start/vim-table-mode"]
	path = pack/my_plugins/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "pack/tpope/start/repeat"]
	path = pack/tpope/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "pack/tpope/start/vim-abolish"]
	path = pack/tpope/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
